/*
** Author: Ali Asgor
** Application Developer
** web: http://asgor.net/
** mail: hello@asgor.net
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #f0f0f0;
	font: 14px/20px Arial, Sand-Serif;
	color: #555;
	margin: 0;
}
h1 {
	text-align: center;
	font-size: 180%;
	line-height: 120%;
	padding: 0;
}
h2 {
	text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
}
h3 {
	line-height: 110%;
	padding: 5% 0;
}
p {
	padding: 1%;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto; 
}
.fa-icon {
	text-align: center;
	font-size: 6em !Important;
	color: #E91E63;
}